@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: rgba(255,97,97);
    --secondary-color: rgba(141,190,178);
    --primary-text-color: rgb(72, 58, 62);
    --secondary-text-color: rgba(255,255,255);
    --vertical-gap: 2rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
    /* font-size: calc(0.625rem + 0.4vw); */
    font-size: calc(.9rem + 0.4vw);
}

#content {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 0 10%;
    align-items: center;
    background-color: var(--primary-color);
    height: auto;
}

header {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
}

header,
img#karen-icon,
h1,
.sections {
    padding-bottom: var(--vertical-gap);
}

.footer {
    padding-top: var(--vertical-gap);
    display: flex;
}

.fa-github {
    padding: 0 1rem;
    color: var(--primary-text-color);
    transform: scale(1.5);
}

.header-tabs {
     padding: .5rem 1rem;
     margin: 0 1rem;
     border-radius: .5rem;
     font-size: smaller;
     font-weight: 400;
}

.header-tabs:hover {
    transform: scale(1.2);
}

.active {
    background-color: var(--secondary-color);
}

.main-content {
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    border-radius: 2rem;
}

img#karen-icon {
    height: auto;
    width: 200px;
}


.sections {
    text-align: center;
}

.section-head {
    font-weight: 700;
}

.menu-image,
.map-image {
    height: auto;
    width: 400px;
}

.links {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    padding-bottom: 2rem;
}

.fa-brands,
.fa-regular {
    padding-right: 1rem;
}

.map {
    flex-direction: column;
}

.map-image {
    padding: 1rem 0;
}
